<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图像风格迁移</title>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
<body>
<h1>图像风格迁移</h1>
    <div class="left">
            <form action="" enctype='multipart/form-data' method='POST'>
                <h2>内容选择：</h2>
                <input type="file" name="file" value="文件" style="margin-top:20px;"/>
                <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
            </form>
        <img src="{{ url_for('static', filename= './images/input/input.jpg',_t=val1) }}" width="400" height="400" alt="你的图片被外星人劫持了～～"/>
    </div>

    <div class="middle">
        <h2>风格选择：</h2>
        <div class="container">
            <div class="c-dropdown js-dropdown" style="z-index:999">
                <!--input是传值的，span才是显示在界面的-->
                <input type="hidden" name="province" class="js-dropdown__input">
                <span class="c-button c-button--dropdown js-dropdown__current">candy</span>
                <ul class="c-dropdown__list">
                    <li class="c-dropdown__item" data-dropdown-value="candy">candy</li>
                    <li class="c-dropdown__item" data-dropdown-value="mosaic">mosaic</li>
                    <li class="c-dropdown__item" data-dropdown-value="rain_princess">rain_princess</li>
                    <li class="c-dropdown__item" data-dropdown-value="udnie">udnie</li>
                    <li class="c-dropdown__item" data-dropdown-value="match">match</li>
                    <li class="c-dropdown__item" data-dropdown-value="diy">自定义 </li>
                </ul>
                <span class="c-triangle"></span>
            </div>
        </div>
        <script src="../static/js/style.js"></script>
         <img src="{{ url_for('static', filename= './images/style/' + style + '.jpg',_t=val1) }}" width="400" height="400" alt="你的图片被外星人劫持了～～"/>
    </div>

    <div class="right">
        <h2>迁移图片：</h2>
        <a href="http://127.0.0.1:5000/generate/diy01"><input type="submit" value="生成" class="button-new" style="margin-top:15px;"/></a>
        <br>
        <img src="{{ url_for('static', filename= './images/output/random/' + result + '/' + num + '.jpg',_t=val1) }}" width="400" height="400" alt="你的图片被外星人劫持了～～"/>
        <br>
        {% if num == '1' %}
        <button type="button" class = "pagebtn">上一页</button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy2">下一页</a></button>
        {% endif %}
        {% if num == '2' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy1">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy3">下一页</a></button>
        {% endif %}
        {% if num == '3' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy2">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30}}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy4">下一页</a></button>
        {% endif %}
        {% if num == '4' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy3">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy5">下一页</a></button>
        {% endif %}
        {% if num == '5' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy4">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button"><a href="/generate/diy6">下一页</a></button>
        {% endif %}
        {% if num == '6' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy5">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy7">下一页</a></button>
        {% endif %}
        {% if num == '7' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy6">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy8">下一页</a></button>
        {% endif %}
        {% if num == '8' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy7">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy9">下一页</a></button>
        {% endif %}
        {% if num == '9' %}
            <button type="button" class="pagebtn"><a href="/generate/diy8">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy10">下一页</a></button>
        {% endif %}
        {% if num == '10' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy9">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy11">下一页</a></button>
        {% endif %}
        {% if num == '11' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy10">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy12">下一页</a></button>
        {% endif %}
        {% if num == '12' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy11">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy13">下一页</a></button>
        {% endif %}
        {% if num == '13' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy12">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy14">下一页</a></button>
        {% endif %}
        {% if num == '14' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy13">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy15">下一页</a></button>
        {% endif %}
        {% if num == '15' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy14">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy16">下一页</a></button>
        {% endif %}
        {% if num == '16' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy15">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy17">下一页</a></button>
        {% endif %}
        {% if num == '17' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy16">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy18">下一页</a></button>
        {% endif %}
        {% if num == '18' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy17">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy19">下一页</a></button>
        {% endif %}
        {% if num == '19' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy18">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy20">下一页</a></button>
        {% endif %}
        {% if num == '20' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy19">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy21">下一页</a></button>
        {% endif %}
        {% if num == '21' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy20">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy22">下一页</a></button>
        {% endif %}
        {% if num == '22' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy21">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy23">下一页</a></button>
        {% endif %}
        {% if num == '23' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy22">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy24">下一页</a></button>
        {% endif %}
        {% if num == '24' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy23">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy25">下一页</a></button>
        {% endif %}
        {% if num == '25' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy24">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy26">下一页</a></button>
        {% endif %}
        {% if num == '26' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy25">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy27">下一页</a></button>
        {% endif %}
        {% if num == '27' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy26">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy28">下一页</a></button>
        {% endif %}
        {% if num == '28' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy27">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy29">下一页</a></button>
        {% endif %}
        {% if num == '29' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy28">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn"><a href="/generate/diy30">下一页</a></button>
        {% endif %}
        {% if num == '30' %}
            <button type="button" class = "pagebtn"><a href="/generate/diy29">上一页</a></button>
        <span id ="page_display" style="display: inline">当前页{{ num }}/{{ 30 }}</span>
        <button type="button" class = "pagebtn">下一页</button>
        {% endif %}
    </div>

</body>
</html>
